body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

label {
    display: block; /*para que o formulário fique abaixo*/
    margin-top: 30px;
    margin-bottom: 10px;
}

input {
    font-size: 1.2rem; /*a font size do input tem q ser definida separadamente*/
    padding: 10px;
    border: 2px solid purple;
    border-radius: 4px;
    background: #E4BAFA
}

button {
    margin-top: 30px;
    display: block;
}

.checkbox,
.radio {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
    margin: 10px;
}

.checkbox input, 
.radio input {
    margin: 0px;
    width: 20px;
    height: 20px;
}

.checkbox label,
.radio label {
    margin: 0px;
    display: inline-block;
}

select {
    font-size: 1.2rem;
    padding: 10px;
}

textarea {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 2rem;
    padding: 10px 20px;
    background: #caf;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}